{% extends 'user/login.html' %}
{% block title %}
Cleapp | Registro de Usuario
{% endblock title %}

{% block wrapstyle %}
style="width: 50%;"
{% endblock wrapstyle %}

{% block content %}
<form class="login100-form validate-form" method="POST">
  {% csrf_token %}
  <span class="login100-form-title p-b-26">
    Registro de Usuario
  </span>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="wrap-input100 validate-input" data-validate = "El Nombre de Usuario no es correcto">
        {{form.username}}
        <span class="focus-input100" data-placeholder="Nombre de Usuario"></span>
      </div>
      <div class="wrap-input100 validate-input" data-validate="Correo Electrónico es Obligatorio">
        {{form.email}}
        <span class="focus-input100" data-placeholder="Email"></span>
      </div>
      <div class="wrap-input100 validate-input" data-validate="Email es Obligatorio">
        {{form.password1}}
        <span class="focus-input100" data-placeholder="Contraseña"></span>
      </div>
      <div class="wrap-input100 validate-input" data-validate="Email es Obligatorio">
        {{form.password2}}
        <span class="focus-input100" data-placeholder="Repita su Contraeña"></span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="wrap-input100 validate-input" data-validate="Email es Obligatorio">
        {{form.primer_nombre}}
        <span class="focus-input100" data-placeholder="Primer Nombre"></span>
      </div>
      <div class="wrap-input100 validate-input" data-validate="Email es Obligatorio">
        {{form.primer_apellido}}
        <span class="focus-input100" data-placeholder="Apellido Padre"></span>
      </div>
      <div class="wrap-input100 validate-input" data-validate="Email es Obligatorio">
        {{form.segundo_apellido}}
        <span class="focus-input100" data-placeholder="Apellido Madre"></span>
      </div>
    </div>
  </div>

  <div class="container-login100-form-btn">
    <div class="wrap-login100-form-btn">
      <div class="login100-form-bgbtn"></div>
      <button class="login100-form-btn" type="submit">
        Registrarse
      </button>
    </div>
  </div>
</form>
{% endblock content %}